:root {
    --white: #fff;
    --black: #000;
    --body-background-color-left: #d1e1f8;
    --body-background-color-right: var(--white);
    --nav-color-1: red;
    --nav-color-2: green;
    --heading-color-1: #111235;
    --heading-color-2: #5c5fb8;
    --black-shadow: rgba(0, 0, 0, 0.04);
    --btn-primary-color: var(--white);
    --btn-primary-color-background-color: #4b5092;
    --btn-sec-color: #436baa;
    --btn-sec-color-background-color: var(--white);
    --blue-panel: #e4f0ff;
    --purple-panel: #727aef1a;
    --loader-wrapper-color: var(--blue-panel);
    --loader-color: var(--heading-color-1)
}

* {
    margin: 0;
    transition: all 0.5s cubic-bezier(0.4, 0, 0, 1.3);
}

body {
    min-width: 100%;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(7.28deg, var(--body-background-color-left) 0%, var(--body-background-color-right) 99.69%);
}

.constrain {
    max-width: 450px;
    margin: auto;
}

h1,
h2,
h3,
h5,
h6 {
    font-weight: 500;
    color: var(--heading-color-1);
}

h1 {
    font-size: 64px;
    line-height: 75px;
    margin: 15px 0;
}

h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

h3 {
    font-size: 36px;
}

h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 15px;
}

h6 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 40px;
}

p {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}

ul {
    padding-left: 0;
    padding: 30px 0;
}

ul li {
    list-style-type: none;
    padding: 20px 0;
}

.github,
.website {
    text-decoration: none;
    color: var(--heading-color-1);
}

.website {
    color: var(--heading-color-2);
}

.github:hover,
.website:hover {
    text-decoration: underline;
}

.header-bold {
    font-weight: 700;
}

.top-bar {
    height: 75px;
    box-shadow: 0px 10px 20px var(--black-shadow), 0px 2px 6px var(--black-shadow),
        0px 0px 1px var(--black-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section-container {
    padding: 55px 12px;
}

.text-centered {
    text-align: center;
}

.content-section-container img {
    width: 100%;
}

.btn {
    text-decoration: none;
    display: block;
    width: 225px;
    padding: 15px 0;
    border-radius: 50px;
    margin: 30px auto;
    font-weight: 600;
    text-align: center;
    transition: all 0.5s cubic-bezier(0.4, 0, 0, 1.3);
}

.btn:hover {
    transform: skew(0deg, -5deg);
}

.btn-primary {
    background-color: var(--btn-primary-color-background-color);
    color: var(--btn-primary-color);
}

.btn-secondary {
    background-color: var(--btn-sec-color-background-color);
    color: var(--btn-sec-color);
}

.panel {
    border-radius: 30px;
    padding: 60px 40px;
    margin-bottom: 20px;
}

.panel h5 {
    width: 85%;
}

.panel-blue {
    background: var(--blue-panel);
}

.panel-purple {
    background: var(--purple-panel);
}

.footer-icons {
    margin: 25px auto;
    width: 45%;
    display: flex;
    justify-content: space-between;
}


#copyright {
    margin: 60px 0;
    text-align: center;
}

/* Modifier classes -- single style */

.bp-100 {
    padding-bottom: 100px;
}

.bp-80 {
    padding-bottom: 80px;
}

.tp-80 {
    padding-top: 80px;
}

.bm-40 {
    margin-bottom: 40px;
}

.bm-15 {
    margin-bottom: 15px;
}

.border-bottom {
    border-bottom: 1px solid var(--black);
}

.top-menu {
    display: none;
}

.desktop-only {
    display: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .constrain {
        max-width: 1500px;
    }

    .outer-container {
        margin: 0 10%;
    }

    .top-bar {
        box-shadow: none;
        display: flex;
        justify-content: space-between;
    }

    .top-menu {
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;
    }

    .hero-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }

    .hero-section img {
        width: 60%;
    }

    .hero-text {
        width: 54%;
        text-align: left;
    }

    .btn {
        margin: 35px 0;
    }

    .simple-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .simple-flex>* {
        margin: 0;
    }

    .left-to-right {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    .workout-img-2 {
        width: 45%;
    }

    .blue-bg {
        width: 55%;
        display: flex;
        align-items: center;
        border-radius: 50px;
        padding: 0 30px;
    }

    .gradient-blue-bg {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .trainer-text {
        text-align: left;
        width: 30%;
        margin-left: 40px;
    }

    .gradient-blue-bg img {
        margin: 0;
        width: 450px;
    }

    .panels-img-container {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-top: 50px;
        margin: 10px;
        padding: 10px;
    }

    .panels-img-container img {
        width: 30%;
    }

    .panels {
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .panel {
        width: 40%;
        box-sizing: border-box;
        margin: 10px;
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    footer {
        display: flex;
    }

    footer .content-section-container {
        display: flex;
        padding: 40px 0 0;
    }

    .footer-icons {
        display: none;
    }

    footer h3 {
        width: 30%;
        text-align: left;
    }

    footer ul {
        width: 30%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
        padding: 0;
        padding-right: 10%;
    }

    footer li {
        padding-top: 15px;
    }

    footer .stay-up-to-date {
        padding-top: 10px;
        width: 30%;
        text-align: left;
    }

    footer .stay-up-to-date input[type="text"] {
        width: 100%;
        box-sizing: border-box;
    }

    #copyright {
        text-align: left;
        margin-top: 0;
        padding-top: 0;
    }
}